a:link {
     text-decoration: none;
     }
div
{
  text-align: center;
}
input
{
border-radius:4px;
 padding: 8px 16px;
 font-size:16px;
}
#first{
margin-top: 50px;
}
.button1 {
    width: 115px;
    height: 25px;
    background: #A0A0A0;
    border:none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size:16px;
}
.button2 {
    width: 115px;
    height: 25px;
    background: #0066ff;
    color:white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
}
.button3 {
    width: 115px;
    height: 25px;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;

}
.thick{font-weight: bold;font-size: 20px;}
.done {background-color: #04AA6D;}
.pending {background-color: #ff9800;}
table, td {
  border: 1px none;
  padding: 15px;
  }
table {
  margin-left: auto;
  margin-right: auto;
}
h1
{
color:#cc0000;
}