<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<div id="first" >
        <h1>To Do List</h1>
        <form  action="/add" method="post">
            <div >
                <label class="thick">Enter the task</label>
                <input type="text" name="name">
            <button class="button1" type="submit" >Add</button>
            </div>
        </form>
        <br><br>
     <table>
         <tbody>
        {% for todo in todo_list %}
        <tr>
            <td class="thick">{{todo.task_id }}</td>
            <td class="thick">{{ todo.name }}</td>
            {% if todo.done == False %}
            <td><label class="label pending">Not done</label></td>
            {% else %}
            <td><label class="label done">Done</label></td>
            {% endif %}
            <td><a  href="/update/{{ todo.task_id }}" class="button2">Update</a></td>
            <td><a  href="/delete/{{ todo.task_id }}" class="button3">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>
